/*created by Daron Lauray of True Community Uplift, LLC- please email daronlauray@gmail.com for inquiries*/

/*style elements*/
@media screen and (max-width: 600px) {
   .nav_bar, .nav_bar2, .ul {   
    flex-direction: column;
  }
}

button {
    border-radius: 2px;
    background: white;
    color: black;

}

/*universal layout for homepage and links*/
body {
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 246, 227);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
#fix{
    width: 100%;
    height:5%;
}

.header{
display:flex;
justify-content: center;
align-items: center;
background-color: white;
height:20%;
width:100vw;

}
.opener{
    height:80%;
    width: 50%;
}

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    height:10%;
    width: 100%;
    padding: 10px;
    background-color: black;
    color:white;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    overflow:auto;
}

/*main homepage content*/
.main,.main2 {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

}

.credits {
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;

}
img.self {
    width: 30rem;
    height: auto;
    border-radius: 5px;
    border-width: 4px;
    border-style: double;
    border-color: black;

}
.selfie{
    height:100%;
}
.about.me {
    align-items: center;
    justify-content:space-evenly;
    display: flex;
    text-align: center;
    flex-direction:row;
    width:100%;
    padding:20px;

}

.nav_bar,.nav_bar2 {
    display: flex;
    padding: 10px;
    background-color: rgb(255, 246, 227);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

}

p {
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    width:100%;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;

}

a {
    font-weight: bold;
}

div.li a,
div.li {
    text-decoration: none;
    background-color: rgb(255, 246, 227);
    color: black;
    display: flex;


}

div.li a {
    padding: 8px 16px;
}

/*change background color on hover action*/
div.li a:hover {
    background-color: black;
    border: 7px solid black;
    color: white;
}

/*gallery layout*/

.gallery{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.gallery.item {
    flex-direction: column;
    width: 400px;
    height: 400px;

}

.desc {
    text-align: center;

}

/*page images*/

.one,
.two,
.three,
.four,
.seven,
.eight,
.nine,
.ten {
    width: 10rem;
    height: auto;
    border: 7px solid black;
    border-radius: 10px;
    padding:0;
}

.three {
    border: 7px inset green;
}

.five,
.six {
    border: 7px solid black;
    border-radius: 10px;
    width: 100%;
    height:100%;

}

/*TBC*/
.TBC {
    width: 200px;
}
